# Audio files and datasets
data/audio/
data/
data/outputs/
exports/
visualization/static/*.wav

personal_req.txt
data/

analyze_speakers.py
print_speakers.py
update_jsons.py

# Python caches
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
env.bak/
venv.bak/

# Environment files
.env
.env.local

# Zip files we created
*.zip
*.zip.*

# OS specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

company_req.txt
